{name, "dh_date"}.
{authors, ["Dale Harvey <dale@arandomurl.com>"]}.
{description, "Basic date formatting and parsing library"}.
{homepage, "https://github.com/daleharvey/dh_date"}.
{license, "DWTFYW"}.
{url, {git, "https://github.com/daleharvey/dh_date.git", {branch, "master"}}}.
{applications, [dh_date]}.
{rebar_compatible, true}.